<div class="row-cols-1 row-cols-lg-3" id="popupEdit<%= item.id_akce %>" style="display: none;">
  <div class="popup media">
    <form method="post" action="/api/edit_akce">
      <div class="action"><!--Ulozit-->
        <a class="butt-dis butt mb-1" href="/sprava/">Zahodit změny</a>
        <input class="butt-sub butt" type="submit" value="Ulozit">
      </div>
      <div class="prispevekEdit my-2">
        <div class="primary_color">
          <label for="nadpis">Nazev:</label><br>
          <input class="cname primary_color" type="text" id="nadpis" name="nadpis" value="<%= item.nazev %>" required><br>
        </div>
        <div class="primary_color mb-2">
          <label>Tag:</label><br>
          <% tag.forEach(i=> { %>
            <input type="checkbox" class="btn-check" id="tag<%= i.nazev %><%= item.id_akce %>" name="tag"
              value="<%= i.id_tag %>" <% if(item.tags) { item.tags.forEach(t=> { if(t.id_tag === i.id_tag) { %> checked <% } }); } %> autocomplete="off">
            <label class="btn btn-outline-primary primary_color" for="tag<%= i.nazev %><%= item.id_akce %>">
              <%= i.nazev %>
            </label>
          <% }); %>
        </div>
        <div class="primary_color">
          <label class="mb-1">Datum:</label><br>
<input class="primary_color" type="datetime-local" name="start" value="<%= item.start.toISOString().slice(0,16) %>" required />
<input class="primary_color" type="datetime-local" name="end" value="<%= item.konec.toISOString().slice(0,16) %>" required />
        </div>
      </div>
      <input type="hidden" name="id_akce_to_edit" value="<%= item.id_akce %>">
    </form>
  </div>
</div>