<div class="row-cols-1 row-cols-lg-3" id="popup<%= item.id_prispevek %>" style="display: none;">
  <div class="popup media">
    <form method="post" action="/api/edit_prispevek" enctype="multipart/form-data">
      <div class="action"><!--Ulozit-->
        <a class="butt-dis butt mb-1" href="/sprava/media">Zahodit změny</a>
        <input class="butt-sub butt" type="submit" value="Ulozit">
      </div>
      <div class="prispevekEdit my-2">
        <div class="editeble"> <!--Logo-->
          <input type="file" id="image<%= item.id_prispevek %>" accept="image/*" name="foto" style="display: none;" />
          <% item.imgs.forEach(img => { %>
            <img class="editeble previewImage" id="previewImage<%= item.id_prispevek %>" src="/img/prispevky/<%= img.img %>"
            onclick="document.getElementById('image<%= item.id_prispevek %>').click();" alt="Image preview...">
          <i class="fa-solid fa-10x fa-pen pen"
            onclick="document.getElementById('image<%= item.id_prispevek %>').click();"></i>
          <% }); %>
        </div>
        <div class="primary_color">
          <label for="nadpis">Nadpis:</label><br>
          <input class="cname primary_color" type="text" id="nadpis" name="nadpis" value="<%= item.nadpis %>"><br>
        </div>
        <div class="primary_color">
          <label>Tag:</label><br>
          <% tag.forEach(i => { %> 
            <input type="checkbox" class="btn-check" id="btncheck<%= i.nazev %><%= item.id_prispevek %>" name="tag" value="<%= i.id_tag %>" 
            <% item.tags.forEach(t => { if(t.id_tag === i.id_tag) { %> checked <% } }); %> autocomplete="off">
            <label class="btn btn-outline-primary primary_color" for="btncheck<%= i.nazev %><%= item.id_prispevek %>"><%= i.nazev %></label>
          <% }); %>
        </div>
        <div class="primary_color mb-3">
          <label for="popisek">Popisek:</label><br>
          <textarea class="popisek primary_color" id="popisek" name="popisek"><%= item.popisek %></textarea><br>
        </div>
        <input type="hidden" name="id_prispevek" value="<%= item.id_prispevek %>">
      </div>
    </form>
  </div>
</div>