<div class="popup" id="popup<%= item.id_sponzor %>" style="display: none;">
  <form method="post" action="/api/sponzori_popup" enctype="multipart/form-data">
    <div class="action"><!--Ulozit-->
      <div class="sponzorDel">
        <i class="fa-solid fa-trash" id="sponzorDel<%= item.id_sponzor %>"></i>
      </div>
      <a class="butt-dis butt mb-1" href="/sprava">Zahodit změny</a>
      <input  class="butt-sub butt" type="submit" value="Ulozit">
    </div>
    <div class="name primary_color mb-3">
      <label for="odkaz">Odkaz:</label><br>
      <input class="cname primary_color" type="text" id="cname" name="odkaz" value="<%= item.odkaz %>"><br>
    </div>
    <div class="row">
      <div class="mb-2 editeble"> <!--Logo-->
        <input type="file" id="LogoSponzor<%= item.id_sponzor %>" accept="image/*" name="logo" style="display: none;" />
        <img class="editeble previewsponzor" id="previewsponzor<%= item.id_sponzor %>" src="/img/sponzor/<%= item.logo %>" onclick="document.getElementById('LogoSponzor<%= item.id_sponzor %>').click();" alt="Image preview...">
        <i class="fa-solid fa-5x fa-pen pen" onclick="document.getElementById('LogoSponzor<%= item.id_sponzor %>').click();"></i>
        <input type="hidden" name="id" value="<%= item.id_sponzor %>">
      </div>
    </div>
  </form>
</div>
<div class="popup media del" id="popupDel<%= item.id_sponzor %>" style="display: none;"> 
    <form method="post" action="/api/del_sponzor">
      <div class="action"><!--Ulozit-->
        <a class="butt-sub buttDel mb-1" href="/sprava/">Zachovat</a>
        <input class="butt-dis buttDel" type="submit" value="Smazat">
        <input type="hidden" name="id_sponzor_to_del" value="<%= item.id_sponzor %>">
      </div>
    </form>
</div>